<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backoffice Autoescuelas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/">Indice</a></li>
          <li role="presentation"><a href="/deleted">Eliminadas</a></li>
          <li role="presentation"><a href="/about">About</a></li>
        </ul>
      </header>
      {{{body}}}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
